body{
  color: #f6f6f6;
  background-color: #292c33;
}
#page{
  margin: 0 auto;
}
#board{
  background-color: #fd8879;
  height: 648px;
  width: 648px;
  border-radius: 15px;
  margin: auto;
  margin-top: 15px;
}
.space{
  height: 79px;
  width: 79px;
  float: left;
  padding: 0;
  border: 1px solid black;
}
#tl{
  border-top-left-radius: 15px;
}
#tr{
  border-top-right-radius: 15px;
}
#bl{
  border-bottom-left-radius: 15px;
}
#br{
  border-bottom-right-radius: 15px;
}
.white{
  background-color: lightblue;
}
.black{
  background-color: gray;
}
