doctype html
html
  head
    meta(charset='utf-8')      
    title Checkers Face-Off
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #page
      #board
        .space.white#tl.start(data-x = '0', data-y = '0')
        .space.black(data-x = '1', data-y = '0')
        .space.white.start(data-x = '2', data-y = '0')
        .space.black(data-x = '3', data-y = '0')
        .space.white.start(data-x = '4', data-y = '0')
        .space.black(data-x = '5', data-y = '0')
        .space.white.start(data-x = '6', data-y = '0')
        .space.black#tr(data-x = '7', data-y = '0')
        .space.black(data-x = '0', data-y = '1')
        .space.white.start(data-x = '1', data-y = '1')
        .space.black(data-x = '2', data-y = '1')
        .space.white.start(data-x = '3', data-y = '1')
        .space.black(data-x = '4', data-y = '1')
        .space.white.start(data-x = '5', data-y = '1')
        .space.black(data-x = '6', data-y = '1')
        .space.white.start(data-x = '7', data-y = '1')
        .space.white.start(data-x = '0', data-y = '2')
        .space.black(data-x = '1', data-y = '2')
        .space.white.start(data-x = '2', data-y = '2')
        .space.black(data-x = '3', data-y = '2')
        .space.white.start(data-x = '4', data-y = '2')
        .space.black(data-x = '5', data-y = '2')
        .space.white.start(data-x = '6', data-y = '2')
        .space.black(data-x = '7', data-y = '2')
        .space.black(data-x = '0', data-y = '3')
        .space.white(data-x = '1', data-y = '3')
        .space.black(data-x = '2', data-y = '3')
        .space.white(data-x = '3', data-y = '3')
        .space.black(data-x = '4', data-y = '3')
        .space.white(data-x = '5', data-y = '3')
        .space.black(data-x = '6', data-y = '3')
        .space.white(data-x = '7', data-y = '3')
        .space.white(data-x = '0', data-y = '4')
        .space.black(data-x = '1', data-y = '4')
        .space.white(data-x = '2', data-y = '4')
        .space.black(data-x = '3', data-y = '4')
        .space.white(data-x = '4', data-y = '4')
        .space.black(data-x = '5', data-y = '4')
        .space.white(data-x = '6', data-y = '4')
        .space.black(data-x = '7', data-y = '4')
        .space.black(data-x = '0', data-y = '5')
        .space.white.startR(data-x = '1', data-y = '5')
        .space.black(data-x = '2', data-y = '5')
        .space.white.startR(data-x = '3', data-y = '5')
        .space.black(data-x = '4', data-y = '5')
        .space.white.startR(data-x = '5', data-y = '5')
        .space.black(data-x = '6', data-y = '5')
        .space.white.startR(data-x = '7', data-y = '5')
        .space.white.startR(data-x = '0', data-y = '6')
        .space.black(data-x = '1', data-y = '6')
        .space.white.startR(data-x = '2', data-y = '6')
        .space.black(data-x = '3', data-y = '6')
        .space.white.startR(data-x = '4', data-y = '6')
        .space.black(data-x = '5', data-y = '6')
        .space.white.startR(data-x = '6', data-y = '6')
        .space.black(data-x = '7', data-y = '6')
        .space.black#bl(data-x = '0', data-y = '7')
        .space.white.startR(data-x = '1', data-y = '7')
        .space.black(data-x = '2', data-y = '7')
        .space.white.startR(data-x = '3', data-y = '7')
        .space.black(data-x = '4', data-y = '7')
        .space.white.startR(data-x = '5', data-y = '7')
        .space.black(data-x = '6', data-y = '7')
        .space.white#br.startR(data-x = '7', data-y = '7')


    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
