doctype html
html
  head
    meta(charset='utf-8')      
    title Checkers Face-Off
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    #page
      #board
        .space.white#tl
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black#tr
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.black#bl
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white
        .space.black
        .space.white#br


    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
